body {
    /*Ajusting the styles to default*/
    margin: 0;
    padding: 0;
    /*Adding the imagen of background and ajusting the zise*/
    /*background: url(../img/bg.jpg) no-repeat center top;*/
    background-color: #faf8fb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 100%;
    /*Font adjusted to sans-serif*/
    font-family: sans-serif;
    /*Heigh adjusted for the device display*/
    height: 100vh;
  }

  .login-box-sg{
    width: 1000px;
    height: 1000px;
    background: white;
    color: black;
    top: 5%;
    left: 25%;
    position: absolute;
    transform: translate(-50% -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box-sg .foto {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  .login-box-sg h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box-sg label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box-sg input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box-sg input[type="text"],
  .login-box-sg input[type="password"] {
    border: none;
    border-bottom: 1px solid ;
    border-color: black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
  }
  
  .login-box-sg input[type="sumbit"] {
    text-align: center;
    border: none;
    outline: none;
    height: 40px;
    background: blue;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box-sg a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
  }
  
  .login-box-sg a:hover {
    color: #ffffff;
  }

  button{
    width: 100%;
    background-color: transparent;
    border-color: transparent;
  }